[submodule "backend"]
	path = apps/backend
	url = https://github.com/mohammada4raf/plantera-api.git
	branch = plan-1-docker-fixes

[submodule "plant-analyzer"]
	path = apps/plant-analyzer
	url = https://github.com/Lime0x00/plant-analyzer.git
	branch = plan-1-docker-fixes

[submodule "apps/web"]
	path = apps/web
	url = https://github.com/EssaMohy/DEPI-Front.git
	branch = plan-1-docker-fixes